.navbar {
	position:relative;
	right:16px;
width:100%;
height: 50px;
padding: 10px;
margin-top: 60px;
 font-weight: bold;
 font-size: 20px;
}
#abc{
	margin-top:100px;
	padding: 15px 25px;
	cursor: pointer;
	border-radius : 10px;
	border: 1.5px solid black;
	text-decoration: none;
}
#abc:hover {
	background-color: #008855;
	border-radius : 20px;
}

#abc:active {
  background-color: #3e8e41;
  opacity: 0.5;
}
#oberes_drittel:hover{
		filter: sepia();
		animation-name: orbit;
		animation-duration : 4s;

}
#mitte:hover{
		filter: sepia();
		animation-name: orbit;
		animation-duration : 4s;
}
#unteres_drittel:hover{
		filter: sepia();
		animation-name: orbit;
		animation-duration : 4s;
}
#oberes_drittel:active{
animation-name:move;
animation-duration: 3s;
}
#mitte:active{
animation-name:move1;
animation-duration: 3s;
}
#unteres_drittel:active{
animation-name:move2;
animation-duration: 3s;
}

.parent{
	position:relative;
	height:606px;
	width:606px;
}
#oberes_drittel{
position: absolute;
left:642px;
top:5px;
border: 2px solid white;
width: 600px;
	height: 200px;
}
@keyframes orbit { 
  from { 
    transform: rotate(0) 
  } 
  to { 
    transform: rotate(360deg) 
  } 
}

@keyframes move{
	    0%   {left:642px; top:10px;}
    25%  {left:481px; top:10px;}
    50%  {left:321px; top:10px;}
    75%  {left:161px; top:10px;}
    100% {left:642px; top:10px;}
}
@keyframes move1{
	    0%   {left:642px; top:427px;}
    25%  {left:481px; top:427px;}
    50%  {left:321px; top:427px;}
    75%  {left:161px; top:427px;}
    100% {left:642px; top:427px;}
}
@keyframes move3{
	    0%   {left:642px; top:627px;}
    25%  {left:481px; top:627px;}
    50%  {left:321px; top:627px;}
    75%  {left:161px; top:627px;}
    100% {left:642px; top:627px;}
}

#mitte{
	position: absolute;
	top:427px;	
	left:650px;
	border: 2px solid white;
	width: 600px;
	height: 200px;
}
#unteres_drittel{
position: absolute;
top:627px;	
	left:650px;
	border: 2px solid white;
	width: 600px;
	height: 200px;
}
.main-content ul li{
	list-style-type: none; 	padding: 50px;
	margin top: 200px;
}
body{
	-webkit-user-select: none;
	background: cover;
	font-family: 'Poppins';
	background: #aadddd;
	background: -moz-linear-gradient(top, #aadddd 0%, #77aaaa 100%);
	background: -webkit-linear-gradient(top, #aadddd 0%, #77aaaa 100%);
	background: linear-gradient(top, #aadddd 0%, #77aaaa 100%);
	text-align: center;
}
.center {
	margin-top: 50px;
	font-size: 200%;
		

}
.fix{
	position: fixed;
	font-size: 20px;
	top:60px;
	background-color: yellow;

	

	/*top: 300px;
	left: 20px;*/
}
.absolute {
	position: absolute;
	font-size : 20px;
	top:  185px;
	background-color:red;
	

}
.relative {
	position: relative;
	font-size : 20px;
	background-color: green;
	width: 300px;
	
}
.maincontent{
	position:relative;
	width:50%;
	text-align: center;
	left: 420px;
}

#hfulogo img{position: fixed;
	top:20px;
	left:1400px;

	width:400px;
}
#kursiv{
	font-style:italic
}
#bolds{
	font-weight: bold;
}
#underline{
	text-decoration: underline;
}
#hov{
	padding: 2px;
}
#hov:hover{
	background-color: #008855;
	border-radius : 20px;

}
#act{
	padding:2px;
	cursor: help;
}
#act:hover{
	background-color: #008855;
	border-radius : 20px;
}
#act:active{
	background-color: #3e8e41;
  opacity: 0.5;

}
#demo{
	font-size:20px;
}
